<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{index .Game "sv_hostname"}} – {{.Title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/normalize.css">
    <link rel="stylesheet" href="/assets/main.css">

    <script src="//use.edgefonts.net/arvo;pt-mono.js"></script>
</head>
<body>
    <h1>{{.Server.FormattedName}}</h1>

    <section class="teams">
    {{ range $teamId, $team := .Server.Teams }}
        <div class="team team-{{$teamId}}">
            <h2 class="team__header">{{$team.TeamName}} &nbsp; [ {{$team.TotalPlayers}} ]</h2>
            <ul class="players">
            {{ range $team.Players }}
                <li class="player">
                    <span class="player__rank" title="{{.RankTitle}}">{{.Rank}}</span>
                    <span class="player__name">{{.Name}}</span>
                    <span class="player__score player__stat">{{.Score}}</span>
                    <span class="player__kills player__stat">{{.Kills}}</span>
                    <span class="player__deaths player__stat">{{.Deaths}}</span>
                    <span class="player__assists player__stat">{{.Assists}}</span>
                    <span class="player__ping player__stat">{{.Ping}}</span>
                </li>
            {{ end }}
            </ul>
        </div>
    {{ end }}
    </section>
</body>
</html>